.sttab {
    width:100%;
    margin:50px auto;
    border: 1px solid black;
}
.close {
    text-align: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}